/* line 2, ../scss/style.scss */
body {
  color: #000;
  font-family: 'gotham_mediumregular';
}

/* line 7, ../scss/style.scss */
.wrapper {
  margin: 0 auto;
  width: 960px;
}

/* line 12, ../scss/style.scss */
.hero {
  background-color: #f6f6f6;
}

/* line 16, ../scss/style.scss */
.services {
  background: url("../img/section_bg.png");
  padding-bottom: 70px;
}

/* line 21, ../scss/style.scss */
.foot_section {
  background: #202020;
  color: #e8e8e8;
}

/* line 27, ../scss/style.scss */
.top_logo {
  margin-top: 38px;
}

/* line 31, ../scss/style.scss */
nav {
  float: right;
  width: 64%;
}
/* line 35, ../scss/style.scss */
nav li {
  float: left;
  margin-top: 28px;
  padding-right: 50px;
  width: 45px;
}
/* line 42, ../scss/style.scss */
nav a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

/* line 50, ../scss/style.scss */
.intro_text {
  padding-bottom: 20px;
  text-align: center;
}
/* line 55, ../scss/style.scss */
.intro_text h1 {
  font-family: 'gotham_boldregular';
  font-size: 109px;
  margin-bottom: 25px;
}
/* line 61, ../scss/style.scss */
.intro_text p {
  font-size: 14px;
  margin-bottom: 45px;
  margin-left: 145px;
  width: 670px;
}
/* line 68, ../scss/style.scss */
.intro_text h2 {
  font-size: 26px;
}

/* line 75, ../scss/style.scss */
.col {
  float: left;
  margin-bottom: 45px;
  margin-left: 5px;
  margin-right: 230px;
  width: 140px;
}
/* line 82, ../scss/style.scss */
.col p {
  font-weight: bold;
}
/* line 87, ../scss/style.scss */
.col ul {
  list-style-type: none;
  margin-top: -30px;
  margin-left: 7px;
}
/* line 95, ../scss/style.scss */
.col li {
  padding-bottom: 12px;
  width: 170px;
}
/* line 99, ../scss/style.scss */
.col li:first-child {
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 107, ../scss/style.scss */
.no_margin {
  margin-right: 0;
}

/* line 111, ../scss/style.scss */
.dots {
  margin-top: 30px;
}

/* line 115, ../scss/style.scss */
.left {
  float: left;
  width: 36.551247%;
}
/* line 119, ../scss/style.scss */
.left h3 {
  font-size: 23px;
  margin-bottom: 16px;
}
/* line 124, ../scss/style.scss */
.left p {
  font-size: 15px;
}
/* line 128, ../scss/style.scss */
.left a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
/* line 133, ../scss/style.scss */
.left a:hover {
  border-bottom: 1px solid #000;
}

/* line 139, ../scss/style.scss */
.right {
  float: right;
  width: 41.55124653739612%;
  /* 450/1083 */
}
/* line 143, ../scss/style.scss */
.right img {
  margin-left: -95px;
  margin-top: 80px;
}

/* line 151, ../scss/style.scss */
.foot_row {
  margin-bottom: 5px;
}

/* line 155, ../scss/style.scss */
.left_foot {
  float: left;
  width: 50%;
}
/* line 159, ../scss/style.scss */
.left_foot p {
  font-size: 31px;
  font-weight: bold;
}

/* line 165, ../scss/style.scss */
.right_foot {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 170, ../scss/style.scss */
.right_foot p {
  font-size: 15px;
  margin-right: 12px;
  margin-top: 35px;
}

/* line 177, ../scss/style.scss */
.foot_col {
  float: left;
  margin-bottom: 88px;
  margin-right: 100px;
  width: 213px;
}
/* line 183, ../scss/style.scss */
.foot_col p {
  font-size: 31px;
}
/* line 187, ../scss/style.scss */
.foot_col ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 192, ../scss/style.scss */
.foot_col li {
  color: #939393;
  font-size: 13px;
  margin-bottom: 20px;
}
/* line 197, ../scss/style.scss */
.foot_col li:first-child {
  color: #e8e8e8;
  font-size: 15px;
  margin-bottom: 15px;
}

/* line 207, ../scss/style.scss */
.members li:nth-child(2), .members li:nth-child(4), .members li:nth-child(6) {
  color: #e8e8e8;
}
